environment:
  access_token:
    secure: YEOldcmUtP23lCJLGxBYZu8TCFlb9DX+IWGK761pexF2fhy9VrDdt3cmWW1jLTt/
image:
  - macos
  - Ubuntu1804
  - Visual Studio 2019

branches:
  only:
    - master

install:
  - git submodule update --init --recursive

build:
  verbosity: detailed

for:
  -
    matrix: # WINDOWS
      only:
        - image: Visual Studio 2019

    install:
      - git submodule update --init --recursive

    build_script:
      - cmake -S . -B build
      - cd build
      - cmake --build .

    test_script:
      - cd test
      - ctest -C Debug
  -
    matrix: # LINUX UBUNTU
      only:
        - image: Ubuntu1804

    install:
      - sudo apt install gcc-8 g++-8
      - sudo update-alternatives --remove-all gcc; true
      - sudo update-alternatives --remove-all g++; true
      - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-8 10
      - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-8 10
      - sudo update-alternatives --set cc /usr/bin/gcc
      - sudo update-alternatives --set c++ /usr/bin/g++
      - git submodule update --init --recursive

    build_script:
      - cmake -S . -B build-Debug -DCMAKE_BUILD_TYPE=Debug
      - cd build-Debug
      - cmake --build .
      - cd ..
      - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
      - cd build
      - cmake --build .
      - cd ..

    test_script:
      - cd buidl-Debug/test
      - ctest

  -
    matrix: # MACOS
      only:
        - image: macos

    install:
      - git submodule update --init --recursive

    build_script:
      - cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=clang-toolchain.cmake
      - cd build
      - cmake --build .

    test_script:
      - cd test
      - ctest

# scripts to run after tests
after_test:
  - pwd
  - cd ../..

