environment:
  access_token:
    secure: YEOldcmUtP23lCJLGxBYZu8TCFlb9DX+IWGK761pexF2fhy9VrDdt3cmWW1jLTt/
image:
  - Ubuntu1804
  - macos
  - Visual Studio 2019

branches:
  only:
    - master

install:
  - git submodule update --init --recursive

build:
  verbosity: detailed

for:
  -
    matrix: # WINDOWS
      only:
        - image: Visual Studio 2019

    install:
      - git submodule update --init --recursive

    build_script:
      - cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug
      - cd build
      - cmake --build .

    test_script:
      - cd test
      - ctest -C Debug
  -
    matrix: # LINUX UBUNTU
      only:
        - image: Ubuntu1804

    install:
      - sudo apt install gcc-8 g++-8
      - sudo update-alternatives --remove-all gcc; true
      - sudo update-alternatives --remove-all g++; true
      - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-8 10
      - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-8 10
      - sudo update-alternatives --set cc /usr/bin/gcc
      - sudo update-alternatives --set c++ /usr/bin/g++
      - git submodule update --init --recursive

    build_script:
      #- cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=clang-toolchain.cmake
      - cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug
      - cd build
      - cmake --build .

    test_script:
      - cd test
      - ctest

  -
    matrix: # MACOS
      only:
        - image: macos

    install:
      - git submodule update --init --recursive

    build_script:
      - cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug
      - cd build
      - cmake --build .

    test_script:
      - cd test
      - ctest

# scripts to run after tests
after_test:
  - pwd
  - cd ../..

on_success:
  - git config --global credential.helper store
  - ps: Add-Content "$HOME\.git-credentials" "https://$($env:access_token):x-oauth-basic@github.com`n"
  - git config --global user.email "ci-bot@appveyer.com"
  - git config --global user.name "App veyor CI Bot"
  - git add -f bin/*
  - git diff-index --quiet HEAD || git commit -a -m "auto add bin dir"
  - git merge -s recursive ours origin/bin
  - git push --force origin HEAD:bin