image:
  - Ubuntu1804
  - macos
  - Visual Studio 2019

install:
  - sudo apt install gcc-8 g++-8
  - git submodule update --init --recursive

build:
  verbosity: detailed

for:
  -
    matrix:
      only:
        - image: Visual Studio 2019

    build_script:
      - cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug
      - cd build
      - cmake --build .

    test_script:
      - cd test
      - ctest -C Debug
  -
    matrix:
      only:
        - image: Ubuntu1804

    build_script:
      #- cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=clang-toolchain.cmake
      - cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug
      - cd build
      - cmake --build .

    test_script:
      - cd test
      - ctest

  -
    matrix:
      only:
        - image: macos

    build_script:
      - cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug
      - cd build
      - cmake --build .

    test_script:
      - cd test
      - ctest
