image:
  - Visual Studio 2019
  - Ubuntu1804

install:
  - git submodule update --init --recursive

build:
  verbosity: detailed

build_script:
  - cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug
  - cd build
  - cmake --build .

test_script:
  - echo 'run tests'

for:
-
  matrix:
    only:
      - image: Visual Studio 2019

  test_script:
    - cd test
    - ctest -C Debug

-
  matrix:
    only:
      - image: Ubuntu1804

    test_script:
      - cd test
      - ctest