environment:
  access_token:
    secure: YEOldcmUtP23lCJLGxBYZu8TCFlb9DX+IWGK761pexF2fhy9VrDdt3cmWW1jLTt/
image:
  - Ubuntu1804
  - Ubuntu2004

branches:
  only:
    - master

build:
  verbosity: detailed

install:
  - echo "Install LLVM 10"
  - sudo ./install-clang-tools.sh
  - echo "Install submodules"
  - git submodule update --init --recursive


build_script:
  - cmake -S . -B build -DCMAKE_TOOLCHAIN_FILE=clang-toolchain.cmake -DCMAKE_BUILD_TYPE=Debug
  - cd build
  - cmake --build .

on_success:
  - echo "Done"
  - pwd
  - make llvm_cover_report_all
  - ls test
  - bash <(curl -s https://codecov.io/bash) -f  test/llvm_cover_report_all.lcov


