environment:
  access_token:
    secure: YEOldcmUtP23lCJLGxBYZu8TCFlb9DX+IWGK761pexF2fhy9VrDdt3cmWW1jLTt/
image:
  - Ubuntu1804
  - macos
  - Visual Studio 2019


branches:
  only:
    - master

install:
  - git submodule update --init --recursive

build:
  verbosity: detailed

for:
  -
    matrix: # WINDOWS
      only:
        - image: Visual Studio 2019

    install:
      - git submodule update --init --recursive

    build_script:
      - cmake -S . -B build
      - cd build
      - cmake --build .

    test_script:
      - cd test
      - ctest -C Debug
  -
    matrix: # LINUX UBUNTU
      only:
        - image: Ubuntu1804

    install:
      - wget https://apt.llvm.org/llvm.sh
      - chmod +x llvm.sh
      - sudo ./llvm.sh
      - git submodule update --init --recursive

    build_script:
      - cmake -S . -B build -DCMAKE_TOOLCHAIN_FILE=clang-toolchain.cmake -DCMAKE_BUILD_TYPE=Debug
      - cd build
      - cmake --build .

    test_script:
      - cd test
      - ctest

  -
    matrix: # MACOS
      only:
        - image: macos

    install:
      - git submodule update --init --recursive

    build_script:
      - cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=clang-toolchain.cmake
      - cd build
      - cmake --build .

    test_script:
      - cd test
      - ctest


on_success:
  - pwd
